{% extends "base.html" %}

{% block content %}
<div class="topnav">
  <a class="active"  href="http://127.0.0.1:5000/">Главная</a>
  <a href="http://127.0.0.1:5000/opros">Опрос</a>
  <a href="http://127.0.0.1:5000/result">Результаты опроса</a>
  <a href="https://continuous-far-honeysuckle.glitch.me/">Сайт</a>
</div>
<div style="float: left;">
    <form class="login_form">
        <h3>Россия является одной из самых привлекательных стран для туристов со всего мира.
          Богатое культурное наследие, разнообразие природных ландшафтов, исторические достопримечательности и гостеприимство местного населения делают Россию
          привлекательным местом для путешествий.</h3>
        <h1></h1>
        <h3>Нам хотелось бы получить обратную связь по сайту "Российский туризм". Для этого ответьте на несколько вопросов во вкладке "Опрос".
        Также Вы можете посмотреть результаты во владке "Результаты опроса".</h3>
        <h1></h1>
        <h1>Заранее спасибо!)</h1>
    </form>
</div>
{% endblock %}}