{% extends "base.html" %}

{% block content %}
<div class="topnav">
  <a href="http://127.0.0.1:5000/">Главная</a>
  <a class="active" href="http://127.0.0.1:5000/opros">Опрос</a>
  <a href="http://127.0.0.1:5000/result">Результаты опроса</a>
  <a href="https://continuous-far-honeysuckle.glitch.me/">Сайт</a>
</div>
<div style="float: left;">
    <form class="login_form" method="post">
        <h1>Спасибо, что ответили на наши вопросы! Нам очень важно Ваше мнение!</h1>
    </form>
</div>
{% endblock %}}